<%= form_for @yourbox, html: { multipart: true } do |f| %>
  <% if @yourbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yourbox.errors.count, "error") %> prohibited this yourbox from being saved:</h2>

      <ul>
      <% @yourbox.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>