<p id="notice"><%= notice %></p>

<h1>您的箱子紀錄</h1>

<table>
  <thead>
    <tr>
      <th>箱子名稱</th>
       <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yourboxes.each do |yourbox| %>
      <tr>
        <td><%= yourbox.description %></td>
        <td><%= yourbox.user.email %></td>
        <td><%= link_to 'Show', yourbox %></td>

      <% if yourbox.user == current_user %>
        <td><%= link_to 'Edit', edit_yourbox_path(yourbox) %></td>
        <td><%= link_to 'Destroy', yourbox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to '您的新箱子', new_yourbox_path %>
<% end %>
