<h1>您的箱子紀錄</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @yourboxes.each do |yourbox| %>
      <tr>
        <td><%= image_tag yourbox.image.url(:medium) %></td>
        <td><%= yourbox.description %></td>
        <td><%= yourbox.user.email if yourbox.user %></td>
        <td><%= link_to 'Show', yourbox_path(yourbox) %></td>
        <% if yourbox.user == current_user %>
          <td><%= link_to 'Edit', edit_yourbox_path(yourbox) %></td>
          <td><%= link_to 'Destroy', yourbox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Pin', new_yourbox_path %>
<% end %>