<div id="yourboxes" class="transitions-enabled">
  <% @yourboxes.each do |yourbox| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(yourbox.image.url(:medium)), yourbox %>
      <div class="panel-body">
        <%= yourbox.description %><br/>
        <strong><%= yourbox.user.email if yourbox.user %></strong>
        <% if yourbox.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit', edit_pin_path(yourbox) %>
            <%= link_to 'Destroy', yourbox, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>