<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= image_tag @yourbox.image.url %>
  <%= @yourbox.description %>
</p>

<% if @yourbox.user == current_user %>
<%= link_to 'Edit', edit_yourbox_path(@yourbox) %> |
<% end %>

<%= link_to 'Back', yourboxes_path %>
