<%= link_to 'Back', yourboxes_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @yourbox.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><%= @yourbox.description %></p>
        <p><strong><%= @yourbox.user.email if @yourbox.user %></strong></p>

        <% if @yourbox.user == current_user %>
         <%= link_to 'Edit', edit_yourbox_path(@yourbox) %>
        <% end %>

      </div>
    </div>
  </div>
</div>